@model Telerik.Sitefinity.Frontend.Search.Mvc.Models.ISearchBoxModel
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@{
    var searchTextBoxId = Guid.NewGuid();
    var searchButtonId = Guid.NewGuid();
}

<div class="search-site desktop">
        <div class="input-group">
            <span id="menuSearch" class="sr-only">Search our site</span>
            <input name="menuSearch" type="search" class="form-control" placeholder="@Model.BackgroundHint" id="@searchTextBoxId" value="@(ViewBag.SearchQuery)" aria-label="@Html.Resource("SearchInput")" aria-describedby="menuSearch">
            <div class="input-group-append">
                <button class="icon" type="submit" id="@(searchButtonId)"><i class="fas fa-search"></i></button>
            </div>
        </div>


<input type="hidden" data-sf-role="resultsUrl" value="@(Model.ResultsUrl)" />
<input type="hidden" data-sf-role="indexCatalogue" value="@(Model.IndexCatalogue)" />
<input type="hidden" data-sf-role="wordsMode" value="@(Model.WordsMode.ToString())" />
<input type="hidden" data-sf-role="disableSuggestions" value='@(Model.DisableSuggestions ? ("true") : ("false"))' />
<input type="hidden" data-sf-role="minSuggestionLength" value="@(Model.MinSuggestionLength)" />
<input type="hidden" data-sf-role="suggestionFields" value="@(Model.SuggestionFields)" />
<input type="hidden" data-sf-role="language" value="@(Model.Language)" />
<input type="hidden" data-sf-role="suggestionsRoute" value="@(Model.SuggestionsRoute)" />
<input type="hidden" data-sf-role="searchTextBoxId" value='@("#" + searchTextBoxId.ToString())' />
<input type="hidden" data-sf-role="searchButtonId" value='@("#" + searchButtonId.ToString())' />
    
</div>

@* The inline editing functionality is loading jQuery too. *@

@Html.Script(Url.WidgetContent("Mvc/Scripts/SearchBox/Search-box.js"), "bottom")
