@model SitefinityWebApp.Mvc.Models.PortfolioViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using SitefinityWebApp.Mvc.Models

    <div class="intro-text">
        @if (!string.IsNullOrWhiteSpace(Model.Title))
        {
            <h2 class="headline">@Model.Title</h2>
        }
        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <p>
                @Model.Description
            </p>
        }

        @if (!Model.ActionName.IsNullOrEmpty())
        {

            <div class="cta">
                <a href="@Model.ActionUrl" class="btn btn-primary" target="@Model.ActionTarget" title="@Model.ActionTitle">@Model.ActionName</a>
            </div>
        }
    </div>