@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel
@using Telerik.Sitefinity.Frontend.Events.Mvc.Helpers
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Modules.Pages
@using Telerik.Sitefinity.Web.DataResolving
@using System.Globalization;

@{
    var itemCount = Model.Items.Count();
    bool generateSideMarkup = itemCount > 1;
}


@foreach (var item in Model.Items)
{
    var featuredImageFields = item.Fields.FeaturedImage.Fields;
    var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);
    DateTime itemStartDate = item.Fields.EventStart;


    if (item == Model.Items.First())
    {
        <section class="featuredEvent @(@itemCount > 1 ? "col-md-6" : "singleEvent")" aria-label="Featured Event">
            <article class="event" aria-label="Featured Event Post - @item.Fields.Title">
                @if (featuredImageFields != null)
                {
                    <div class="photo" style="background-image:url('@featuredImageFields.MediaUrl');" aria-label="@featuredImageFields.AlternativeText">
                        <div class="calendar">
                            <div class="month">@(new DateTimeFormatInfo().GetAbbreviatedMonthName(itemStartDate.Month))</div>
                            <div class="day">@itemStartDate.Day</div>
                            <div class="year">@itemStartDate.Year</div>
                        </div>
                    </div>
                }
                <div class="eventInfo">
                    <h2 class="title">
                        <a href="@navigateUrl" title="@item.Fields.Title">@item.Fields.Title</a>
                    </h2>
                    <div class="location"> @item.Fields.Location</div>
                    <div class="summary">
                        @Html.HtmlSanitize((string)@item.Fields.Summary)
                    </div>

                </div>
            </article>
        </section>
    }
    else
    {


        if (generateSideMarkup)
        {
            @:<section class="upcomingEvents col-md-6" aria-label="Upcoming events Preview">
                generateSideMarkup = false;
            }
            <article class="event" aria-label="Upcoming Events -  @item.Fields.Title">
                <div class="row">
                    <div class="calendarWrapper col-lg-4">

                        <div class="calendar">
                            <div class="month">@(new DateTimeFormatInfo().GetAbbreviatedMonthName(itemStartDate.Month))</div>
                            <div class="day">@itemStartDate.Day</div>
                            <div class="year">@itemStartDate.Year</div>
                        </div>
                    </div>
                    <div class="eventInfoWrapper col-lg-8">
                        <div class="eventInfo">
                            <h2 class="title">
                                <a href="@navigateUrl" title="@item.Fields.Title">@item.Fields.Title</a>
                            </h2>
                            <div class="location"> @item.Fields.Location</div>
                            <div class="summary">
                                @item.Fields.Summary
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            if (item == Model.Items.Last())
            {
            @:</section>


        }

    }
}
