@model Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.INavigationModel
@using Telerik.Sitefinity.Services;
@using Common.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Navigation.Mvc.Models;
@using Telerik.Sitefinity.Modules.Pages;

@foreach (var node in Model.Nodes)
{
    @RenderRootLevelNode(node)
}


@helper RenderRootLevelNode(NodeViewModel node)
{
                    /**/


                    if (node.ChildNodes.Count > 0)
                    {
                        <li>
                            <a href="@node.Url" title="Mobile Nav Personal @node.Title">@node.Title</a>
                            <ul>
                                @RenderRootChildNodes(node)
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li><a href="@node.Url" title="Mobile Nav Personal @node.Title">@node.Title</a></li>
                    }

}

@helper RenderRootChildNodes(NodeViewModel node)
{
                    /**/

                    foreach (var childNode in node.ChildNodes)
                    {
                        <li><a href="@childNode.Url" title="Mobile nav personal @node.Title @childNode.Title">@childNode.Title</a></li>
                    }
}
