@model SitefinityWebApp.Mvc.Models.CustomCardViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using SitefinityWebApp;
@using Telerik.Sitefinity.Web;

<section class="hero-inner home-hero-override @Model.CssClass" aria-label="Inner Page Banner">
    <div class="background"></div>

    <div class="content-wrapper">
        <div class="container">
            <div class="caption">

                <div class="subheadline">@Model.HeadingTwo</div>

                <h1 class="headline">@Model.Heading</h1>

                <div class="description">@Model.Description</div>

                @if (!Model.ActionName.IsNullOrEmpty())
                {
                    <div class="generic-content"><a class="btn btn-quaternary" href="@Model.ActionUrl" title="@Model.ActionTitle" target="@Model.ActionTarget">@Model.ActionName</a></div>
                }

            </div>
        </div>
    </div>

    <!-- Hero Image -->
    <div class="hero-image">
        <div class="wrapper">
            <div class="image" style="background-image:url('@Model.SelectedSizeUrl');"></div>
        </div>
    </div>

</section>

<div id="hero-scroll-to"></div>