@model SitefinityWebApp.Mvc.Models.CustomCardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<li>
    <img class="img-load-lazy"
         data-src="@Model.ImageTwoUrl"
         data-srcset="@Model.ImageTwoUrl 2x, @Model.ImageTwoUrl 1x"
         alt="@Model.ImageTwoAlternativeText"
         title="@Model.ImageTwoTitle">
</li>