@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel
@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.DynamicModules.Model;
@using BankCore.Mvc.Services.Locations;
@using Common.CustomConfig;
@using Telerik.Sitefinity.Configuration;


@{
    var item = Model.Item;
    var relatedPage = Model.Item.RelatedItem("DetailPage");
}
<div class="row mt-5">
    <div class="col col-12 col-md-4">
        <a class="work-item-card" href="@relatedPage.DefaultUrl.ToString()" aria-label="Read More about @item.Fields.Title" style="background-image:url(@item.Fields.BackgroundImage.Fields.MediaUrl); background-color: rgb(242, 242, 242);">
            <div>
                <img src="@item.Fields.Logo.Fields.MediaUrl" alt="@item.Fields.Logo.Fields.AlternativeText" />
                <span>Read More</span>
            </div>
        </a>
    </div>
</div>