@model Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models.DynamicContentListViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Common.CustomConfig;
@using Telerik.Sitefinity.Configuration;

@using System.Web.Mvc;
@using System.Collections.Generic;


<div class="row mt-5">
    @foreach (var item in Model.Items)
    {
        <div class="col col-12 col-md-4">
            <a class="work-item-card" href="@item.RelatedItem("DetailPage").DefaultUrl.ToString()" aria-label="Read More about @item.Fields.Title" style="background-image:url(@item.Fields.BackgroundImage.Fields.MediaUrl); background-color: rgb(242, 242, 242);">
                <div>
                    <img src="@item.Fields.Logo.Fields.MediaUrl" alt="@item.Fields.Logo.Fields.AlternativeText" />
                    <span>Read More</span>
                </div>
            </a>
        </div>
    }
</div>

@if (Model.ShowPager)
{
    @Html.Action("Work", "WorkPager", new
       {
           currentPage = Model.CurrentPage,
           totalPagesCount = Model.TotalPagesCount.Value,
           redirectUrlTemplate = ViewBag.RedirectPageUrlTemplate
       })
}
